{% extends "layout.html" %}
{% block title %}Admin{% endblock %}
{% block content %}
{% if session.is_admin %}
<h2>Admin näkymä</h2>
<p>Admin näkymässä voit hallinnoida saatavilla olevia tuotteita lisäämällä uusia tuotteita tai poistamalla olemassa olevia. 
Lisäksi voit poistaa olemassa olevia myyntipaikkoja, sekä hintatietoja.</p>
{% for message in get_flashed_messages() %}
<p style="color:red;">{{ message }}</p>
{% endfor %}
<hr>
<h3>Tuotteet</h3>
<table>
  <tr><th>Tuotteen nimi</th><th>id</th></tr>
	{% for product_name,id in product %}
  <tr><td>{{ product_name }}</td><td>{{ id }}</td></tr>
	{% endfor %}
</table>
<h3>Lisää uusi tuote</h3>
<div class="input">
	<form action="/add_product" method="POST">
		Nimi:
		<input type="text" id="product_name" name="product_name" required>
		<input type="submit" value="Lisää tuote">
	</form>
</div>
<h3>Poista tuote</h3>
<div class="input">
	<form action="/del_product" method="POST">
		Anna poistettavan tuotteen id: 
		<input type="number" id="product_id" name="product_id" step="1" min="0" required>
		<input type="submit" value="Poista tuote">
	</form>
</div>
<hr>
<h3>Poista myyntipaikka</h3>
<table>
  <tr><th>Myyntipaikan nimi</th><th>Osoite</th><th>Postinumero</th><th>Kaupunki</th><th>id</th></tr>
	{% for location_name,address,postal_code,city,id in location %}
  <tr><td>{{ location_name }}</td><td>{{ address }}</td><td>{{ postal_code }}</td><td>{{ city }}</td><td>{{ id }}</td></tr>
	{% endfor %}
</table>
<br>
<div class="input">
	<form action="/del_location" method="POST">
		Anna poistettavan myyntipaikan id: 
		<input type="number" id="location_id" name="location_id" step="1" min="0" required>
		<input type="submit" value="Poista myyntipaikka">
	</form>
</div>
<hr>
<h3>Poista hintatieto</h3>
<table>
  <tr><th>Myyntipaikan nimi</th><th>Kaupunki</th><th>Tuote</th><th>Hinta</th><th>Lisätty</th><th>id</th></tr>
	{% for location_name,city,product_name,price,price_unit,added,id in price_line %}
  <tr><td>{{ location_name }}</td><td>{{ city }}</td><td>{{ product_name }}</td><td>{{ price }} {{ price_unit}}</td><td>{{ added }}</td><td>{{ id }}</td></tr>
	{% endfor %}
</table>
<br>
<div class="input">
	<form action="/del_price_line" method="POST">
		Anna poistettavan hintatiedon id: 
		<input type="number" id="price_info_id" name="price_info_id" step="1" min="0" required>
		<input type="submit" value="Poista hintatieto">
	</form>
</div>
{% endif %}
{% endblock %}