{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}
{% if session.user_id %}
<a href="/new">Lisää uusi myyntipaikka</a>
{% endif %}
<h3>Myyntipaikat</h3>
<table>
  <tr><th>Myyntipaikan nimi</th><th>Osoite</th><th>Postinumero</th><th>Kaupunki</th></tr>
	{% for location_name,address,postal_code,city in location %}
  <tr><th>{{ location_name }}</th><th>{{ address }}</th><th>{{ postal_code }}</th><th>{{ city }}</th></tr>
	{% endfor %}
</table>
{% endblock %}