{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}
<h2>Tuoreimmat hintatiedot</h2>
<table>
  <tr><th>Myyntipaikan nimi</th><th>Tuote</th><th>Hinta</th><th>Lisätty</th></tr>
	{% for location_name,product_name,price,price_unit,added in price_line %}
  <tr><th>{{ location_name }}</th><th>{{ product_name }}</th><th>{{ price }} {{ price_unit}}</th><th>{{ added }}</th></tr>
	{% endfor %}
</table>
<hr>
<h2>Myyntipaikat</h2>
<table>
  <tr><th>Myyntipaikan nimi</th><th>Osoite</th><th>Postinumero</th><th>Kaupunki</th></tr>
	{% for location_name,address,postal_code,city in location %}
  <tr><th>{{ location_name }}</th><th>{{ address }}</th><th>{{ postal_code }}</th><th>{{ city }}</th></tr>
	{% endfor %}
</table>
{% endblock %}