<!doctype html>
<head>
<meta name="viewport" content="initial-scale=1.0, width=device-width" />
</head>
<body>
<title>Torihinnat - {% block title %}{% endblock %}</title>
<img src="/static/tori.jpg" alt="Torikuva" width="30%" height="30%">
<h1>Torihinnat</h1>
<a href="/">Etusivu</a>
{% if session.user_id %}
Olet kirjautunut sisään.
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<a href="/login">Kirjautuminen</a>
{% endif %}
<hr>
{% if session.user_id %}
<a href="/new_price">Lisää uusi hintatieto</a>
<a href="/new_location">Lisää uusi myyntipaikka</a>
<a href="/delete_location">Poista myyntipaikka</a>
<a href="/products">Muokkaa tuotteita</a>
{% else %}
<p>Kirjaudu sisään antaaksesi hintatietoja, lisätäksesi uuden tai poistaaksesi myyntipaikan, tai muokataksesi tuotteita</p>
{% endif %}
<hr>
{% block content %}{% endblock %}
<hr>
Created by Ereborinkorppi
</body>
</html>