<!doctype html>
<head>
<meta name="viewport" content="initial-scale=1.0, width=device-width" />
</head>
<body>
<title>Torihinnat - {% block title %}{% endblock %}</title>
<img src="/static/tori.jpg" alt="Torikuva" width="30%" height="30%">
<h1>Torihinnat</h1>
<a href="/">Etusivu</a>
{% if session.user_id %}
Olet kirjautunut sisään.
<a href="/logout">Kirjaudu ulos</a>
<hr>
{% else %}
<a href="/login">Kirjautuminen</a>
<hr>
{% endif %}
{% block content %}{% endblock %}
<hr>
Created by Ereborinkorppi
</body>
</html>