{% extends "layout.html" %}
{% block title %}Uusi myyntipaikka{% endblock %}
{% block content %}
{% if session.user_id %}
<h2>Lisää uusi myyntipaikka</h2>
<form action="/add_location" method="POST">
Nimi: <br>
<input type="text" id="location_name" name="location_name" required></p>
<br>
Osoite: <br>
<input type="text" id="address" name="address" required></p>
<br>
Postinumero: <br>
<input type="text" id="postal_code" name="postal_code" placeholder="00100" required></p>
<br>
Kaupunki: <br>
<input type="text" id="city" name="city" required></p>
<br>
<input type="submit" value="Lisää myyntipaikka">
</form>

{% endif %}
{% endblock %}