{% extends "layout.html" %}
{% block title %}Uusi myyntipaikka{% endblock %}
{% block content %}
{% if session.user_id %}
<h2>Lisää uusi myyntipaikka</h2>
<form action="/send_location" method="POST">
Nimi: <br>
<textarea name="location_name" rows="1" cols="40"></textarea>
<br>
Osoite: <br>
<textarea name="address" rows="1" cols="40"></textarea>
<br>
Postinumero: <br>
<textarea name="postal_code" rows="1" cols="40"></textarea>
<br>
Kaupungi: <br>
<textarea name="city" rows="1" cols="40"></textarea>
<br>
<input type="submit" value="Lisää myyntipaikka">
</form>
{% else %}
<p>Kirjaudu sisään lisätäksesi uuden myyntipaikan</p>
{% endif %}
{% endblock %}